<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/main1.css">
    <title>Fire</title>
</head>
<body style="background-color: #2a2a2a;" >

       
    
    
    
    {% if final_path: %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box" style="width: 100%;">
                
                   
                
                <div style="background-image: url('media/graph.png')" class="col-lg-12 login-title">
                    The Original Path
                    <img  src="static/graph.png" alt="The Original Photo" style= "width: 100%; margin-bottom: 6.5%">
                </div>
                
               
                   <!-- <div class="col-lg-12 login-form" style="width: 100%;">
                        
            <h3 style="text-align: center; color: thistle;">{{ final_path }}</h3> 
            </div>-->
        </div>
        </div>
        
        </div>
    
        {% endif %}
    
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box" style="width: 100%;">
                
                   
                
                <div class="col-lg-12 login-title" >
                    Path
                </div>

                <div class="col-lg-12 login-form" style="width: 100%; background-color: #212121;">
                    
         
            <div id="find_path" style="color: #efffff;"></div>
            </div>
            </div>
        
            </div>
            </div>
    
    </div>
</div>


    
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

<script>
    var store="{{final_path}}" ;
    var tem="" ;
    var i=1;
    var t=1;
    var arr=['East Wing','West Wing','Lobby','Storage','Central Parking','Main Office','Club House'];
    while( i<store.length-1){
    if(i>=store.length-2) break;
    tem+="<h3>Path "+t+"</h3><p>";
    t++;
    i++;
if(i<store.length && store[i]==',') i++;
       while(i<store.length && store[i]!=']') {
       if(store[i]==' ' || store[i]==',' || store[i]=='[') {
	i++;
	continue;
    }
       tem+=arr[store[i]-'0']+"<i class='fas fa-arrow-right arrow1' ></i>" ;
      i++;
    }
    tem+="Exit</p>" ;
    }
    document.getElementById('find_path').innerHTML=tem ;
    console.log(store) ;
    
    </script>

<style>
    .arrow1 {
    animation: slide1 1s ease-in-out infinite;
    margin-left: 9px;
    color: white;
    margin-right: 20px;
  }
    @-webkit-keyframes slide1 {
    0% { -webkit-transform: translateX(0); opacity: 0.4 }
    100% { -webkit-transform: translateX(1em); opacity: 0.9 }
  }
  </style>